:root {
    --corFundo: #081A0F;
    --corBack: #090e09;
    --corDois: #437069;
    --corTres: #1A1F1D;
    --corQuatro: #4B7568;
}



body {
    background-color: var(--corBack);

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    
}




.form {
    
    border: 1.5px solid rgba(255, 255, 255, 0.616);
    margin: 10px auto;
    width: 700px;
    height: auto;
    background-color: rgba(46, 70, 47, 0.082);
    backdrop-filter: blur(50px);
    border-radius: 15px;
}

.text {
       margin: auto;

    p {
        display: flex;
       justify-content: center;
       font-family: "Hubot Sans", sans-serif;
       font-weight: 600;
       font-size: 25px;
       color: white;
    }

    img {
        display: flex;
        margin: auto;
        padding-top: 20px;
        width: 400px;
        height: 250px;
        
    }
}

form {

   p {
        width: 430px;
        height: 30px;
        margin: auto;
        display: flex;
        font-family: "Hubot Sans", sans-serif;
        color: white;
   }

   input {
        margin: auto;
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
        font-family: "Hubot Sans", sans-serif;
        width: 430px;
        height: 32px;
        border-radius: 7px;
        border: none;
       
   }

   textarea {
        margin: auto;
        display: flex;
        justify-content: center;
        font-family: "Hubot Sans", sans-serif;
        resize: none;
        border-radius: 7px;
        border: none;
   }

   button {
        margin: 10px auto;
        display: flex;
        justify-content: center;
        width: 430px;
        height: 32px;
        border-radius: 7px;
        border: none;     
        transition: 1s ease-in-out;

     p {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(10, 10, 10);
        transition: 1s ease-in-out;
     }    
   }

   button:hover {
     cursor: pointer;
     background-color: var(--corDois);
     p {
        color: white;
     }
   }
}

.voltar {
    display: flex;
    justify-content: end;
    margin: auto;
    width: 410px;

     a {
        text-decoration: baseline;
        font-family: "Hubot Sans", sans-serif;
        transition: 0.5s all ease-in-out;
        color: rgb(255, 248, 235);
     }:hover {
        color: rgb(184, 183, 182);
     }
}